<!-- <div>
  <mat-button-toggle #toggleBtn>Toggle</mat-button-toggle>
  {{toggleBtn.checked}}

  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple="">
    <mat-button-toggle value="angular">Angular is on top</mat-button-toggle>
    <mat-button-toggle value="react">React is trending!</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue is easy to learn.</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div>

<mat-icon color="primary">grade</mat-icon>
<mat-icon>gif</mat-icon>
<span [matBadge]="notification" [matBadgeHidden]="notification===1">Notification</span>
<span matBadge="3" matBadgePosition="below before">Notification</span>
<span matBadge="3" matBadgePosition="below after">Notification</span>
<span matBadge="3" matBadgePosition="above after">Notification</span>


<div>
  <!-- <mat-progress-spinner value="80" ></mat-progress-spinner> -->
  <!-- <mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
  <button (click)="loadData()">Load Data</button> -->
<!-- </div>  -->
<mat-toolbar color="accent" class="navbar">
  <div>Angular Project</div>
  <div>
    <span>About</span>
    <span>Contact</span>
    <span>Details</span>
  </div>
</mat-toolbar>
<!-- <mat-sidenav-container>
  <mat-sidenav opened>Container</mat-sidenav>
   sidenav always hidden by default
  <mat-sidenav-content>Main Content</mat-sidenav-content>
</mat-sidenav-container> -->


<mat-menu #appMenu = "matMenu" xPosition="after" yPosition="below">
  <button mat-menu-item [matMenuTriggerFor]="techMenu">Fronend</button>
  <button mat-menu-item>Backend</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>

<mat-menu #techMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
  <button mat-menu-item>Vue</button>
</mat-menu>

<mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>Setting</button>
    <button mat-menu-item>Log Out</button>
  </ng-template>
</mat-menu>
<button  [matMenuTriggerFor]="lazyMenu" mat-raised-button>Click Me</button>
<mat-list dense>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
</mat-list>

<!-- <mat-list>
  <mat-list-item>
    <mat-icon matListItemIcon>home</mat-icon>
    <h3 matListItemLine>Heading</h3>
    <p matListItemAvatar>Line</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListItemIcon>folder</mat-icon>
    <h3 matListItemLine>Heading 2</h3>
    <p matListItemIcon>Line 2</p>
  </mat-list-item>
</mat-list> -->
<!-- <mat-grid-list cols="2" rowHeight="fit" style="height: 100px" gutterSize="10px">
  <mat-grid-tile >Title 1</mat-grid-tile>
  <mat-grid-tile>Title 2</mat-grid-tile>
  <mat-grid-tile>Title 3</mat-grid-tile>
  <mat-grid-tile>Title 4</mat-grid-tile>
</mat-grid-list> -->
<mat-accordion multi="true" hideToggle="true">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Concept
      </mat-panel-title>
      <mat-panel-description>
        Total Duration : 2 months
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is panel content. Add course details.</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
  </mat-action-row>
</mat-expansion-panel>
<!-- when we try to open 2nd expansion - 1st one collapse automatically!! -->
</mat-accordion>
<!-- <mat-card>
  <mat-card-title>
    Card title
  </mat-card-title>
  <mat-card-content>
    This is the card content.
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button>Login</button>
  </mat-card-actions>
</mat-card> -->
<mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
  <mat-tab label="Angular">Angular Content</mat-tab>
  <mat-tab label="React">React Content</mat-tab>
  <mat-tab label="Vue">Vue Content</mat-tab>
</mat-tab-group>
<!-- {{tabRef.selectedIndex}} -->
<!-- <mat-horizontal-stepper linear>
  <mat-step label="Shipping Address" completed="true">
    <p>Shipping Address Details</p>
    <button mat-button matStepperNext> Next</button>
  </mat-step>
  <mat-step label="Billing Address">
    <p>Billing Address Details</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Place Order">
    <p>Order Details</p>
    <button mat-button matStepperPrevious>Back</button>
  </mat-step>
</mat-horizontal-stepper> -->
<!-- <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="accent">
  <mat-label>Name</mat-label>
  <input  matInput required>
  <mat-hint align="end">Min 5 Character</mat-hint>
</mat-form-field>
<mat-form-field floatLabel="auto"  appearance="outline">
  <mat-label>Email</mat-label>
  <input matInput required>
  <mat-hint align="end">should be correct email.</mat-hint>
</mat-form-field>
<mat-form-field floatLabel="auto" appearance="outline">
    <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue" multiple>
      <mat-option>None</mat-option>
      <mat-optgroup label="Web">
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="react">React</mat-option>
        <mat-option value="vue">Vue</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Mobile">
        <mat-option value="ionic">Ioninc</mat-option>
        <mat-option value="reactnative">React Native</mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field> -->
    <form>
      <mat-form-field>
        <input type="text" matInput  [matAutocomplete]="auto" [formControl]="myControl">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" placeholder="Angular">
              {{option}}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <mat-checkbox>
        Subscribe
    </mat-checkbox>
    <mat-checkbox labelPosition="before">
      Subscribe
    </mat-checkbox>
    <mat-checkbox color="primary">
      Subscribe
    </mat-checkbox>
    <mat-checkbox labelPosition="before" color="warn">
      Subscribe
    </mat-checkbox>
<mat-radio-group >
  <mat-radio-button value="angular">Angular</mat-radio-button>
  <mat-radio-button value="react">React</mat-radio-button>
  <mat-radio-button value="vue">Vue</mat-radio-button>
</mat-radio-group>

<mat-form-field >
  <input matInput [matDatepicker]="mydatePicker" [matDatepickerFilter]="dateFilter">
  <mat-datepicker-toggle matSuffix [for]="mydatePicker"></mat-datepicker-toggle>
  <mat-datepicker #mydatePicker startView="year"></mat-datepicker>
</mat-form-field>
<br>
<!-- matooltip work as a hover property! -->
<button mat-raised-button  matTooltip="Welcome to the Wellnest!" matTooltipPosition="after" matTooltipShowDelay="1500">Hello</button>

<button mat-button (click)="openSnackBar('Item deleted', 'Undo')">
  Delete
</button>
